@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', sans-serif; 
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
    font-family: var(--fonte-destaque);
    text-align: center;
    min-height: 150px;
    background-image: linear-gradient(var(--cor3), var(--cor5));
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 20px;
    margin: 0px 0px 20px 0px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto ;
    padding: 0px 10px 20px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.164);
}

nav a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .2s;
}

nav a:hover {
    color: var(--cor5);
    background-color: var(--cor1);
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.199) ;
}

main img {
    width: 100%;
}

main p {
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    padding: 2px 6px;
}

strong:hover {
    color: var(--cor5);
}

main a {
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

article > h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}

article > h2 {
    font-weight: normal;
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    text-indent: 8px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
}

aside h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style: none;
    list-style-position: inside;
    columns: 2;
}

aside li::before {
    content: "✔️ ";
}

.externo::after {
    content: "↗️";
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    color: white;
    font-size: 0.8em;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}